body {
    margin: 30px 50px;
    font-family: 'Varela Round', sans-serif;
    color: #566787;

}

nav {
    background-color: #435d7d;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

#add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
    color: #ffff;
    border-radius: 3px;
    font-family: 'Varela Round', sans-serif;
}

.material-icons {
    padding: 5px;
}

#add-user:hover {
    background-color: #4bab4b;
}

.container-filter {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
}

.container-table {
    width: 100%;
}

table {
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

th,
td {
    border-bottom: 1px solid #ddd;

}

.icon-edit {
    color: #ffc107;
   

}

.icon-delete {
    color: #f44336;

}

.myModal {
    display: block;
    width: 300px;
    height: auto;
    position: relative;
    left: 600px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    text-align: center;
    border-top: 1px solid #e4d9d9;


}

.myModal input {
    width: 80%;
    height: 20px;
    margin: 5px;
    border-radius: 0 0 3px 3px;
    border: none;
    border-bottom: 1px solid rgb(179, 178, 178);
    text-align: left;
}

#address {
    height: 50px;
}

.myModal button {
    margin: 25px;
    width: 70px;
    height: 40px;
    font-family: 'Varela Round', sans-serif;
    border: none;

}

#guardar {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;

}

#guardar:hover {
    background-color: #0085ae;
}


.myModal button:hover {
    background-color: #e4d9d9;
    color: #ffff;
}

#addCerrar {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

}

#addCerrar:hover {
    background-color: #0d900d;
}

#delete {
    background-color: #f44336;
}

#delete:hover {
    background-color: #9a1b12;
}

p {
    color: #8a6d3b;
    font-size: 14px;
}

.form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#closeModal,
#close {
    size: 10px;
    top: -9px;
    right: -9px;
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #e4d9d9;
    border-style: none;
}

.form-modal label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.noMostrar {
    display: none;
}


.hidden {
    visibility: hidden;
}


#filter {
    background-color: white;
    width: 200px;
    height: 20px;
    font-family: 'Varela Round', sans-serif;

}

.botonEdit,
.botonDelete {
    border: none;
    border-radius: 2px;
    background: rgba(253, 253, 253, 0)


}